.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px;
}



.social-icons a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    /* Adjust spacing between icons */
}

.address {
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

@media (max-width: 768px) {

    /* Target devices with a width of 768px or less */
    .footer-container {
        flex-direction: column;
    }
}